:root {
  /*Fonts Sizes*/
  --small-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --mlarge-font-size: 3rem;
  --large-font-size: 20.625rem;

  /*Fonts Weights*/
  --regular-weight: 300;
  --medium-weight: 500;

  /*Colors*/
  --Yellow: hsl(69, 100%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", serif;
  font-size: var(--medium-font-size);
  font-weight: var(--regular-weight);
  letter-spacing: -2%;
  line-height: 1.2;
  color: white;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 1rem 0;
  background-color: black;
}

/*Header*/

header {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 0 1.875rem;
}

.header-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.nav-container-sup {
  position: fixed;
  top: .5rem;
  z-index: 1000;
  width: 95%;
}

.nav-container-inf {
  position: fixed;
  bottom: .5rem;
  z-index: 1000;
  width: 95%;
}

.nav-container-sup ul {
  list-style: none;
}

.nav-container-inf ul {
  list-style: none;
}

.arrow li ::before {
  content: "* ";
}

.nav-container-sup a {
  color: white;
  text-decoration: none;
  line-height: 1.3;
  font-size: var(--small-font-size);
}

.nav-container-inf a {
  color: white;
  text-decoration: none;
  line-height: 1.3;
  font-size: var(--small-font-size);
}

.nav-container-sup a:hover {
  color: var(--Yellow);
  text-decoration: underline;
  font-weight: var(--medium-weight);
}

.nav-container-inf a:hover {
  color: var(--Yellow);
  text-decoration: underline;
  font-weight: var(--medium-weight);
}

.nav-sup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-inf {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  display: flex;
  justify-content: center;
  gap: 4.75rem;
  padding: 0;
}

.not-arrow {
  display: flex;
  justify-content: center;
  padding: 0;
  min-width: 65px;
}

.kroma {
  font-weight: var(--medium-weight);
}

.bio-container {
  display: flex;
  flex-direction: column;
  padding-left: 50%;
  padding-top: 5.9375rem;
}

.scroll-container p {
  font-size: var(--large-font-size);
  letter-spacing: -26.4px;
}

.scroll-container {
  position: relative;
}

.scroll-word,
.scroll-word-hidden {
  margin: 0;
  padding: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.scroll-word-hidden {
  visibility: hidden;
  /* Inicialmente oculta */
  opacity: 0;
  /* Inicialmente invisible */
  position: absolute;
  /* Posicionada de manera absoluta respecto al contenedor */
  top: 0;
  left: 0;
}

.scroll-word:hover {
  opacity: 0;
  /* Desaparece cuando el cursor está sobre él */
}

.scroll-word:hover+.scroll-word-hidden {
  visibility: visible;
  /* Muestra el texto oculto */
  opacity: 1;
  /* Hace el texto visible */
}

.custom-line {
  width: 100%;
}

/*Main*/

main {
  font-weight: var(--regular-weight);
  font-size: var(--small-font-size);
}

.title-section {
  font-size: var(--small-font-size);
  font-weight: var(--regular-weight);
  margin-top: 3rem;
  padding: 0 1.875rem;
}

.title-project {
  font-size: var(--medium-font-size);
  font-weight: var(--regular-weight);
  margin-bottom: 1.5rem;
}

/*Separatores*/

.section-separator {
  padding-bottom: 1.5rem;
}

.section-separator-programming {
  background-color: #383838;
  padding-bottom: 1.5rem;
}

.section-separator-programming hr {
  margin: 0;
}

.section-separator-experimental {
  padding-bottom: 1.5rem;
}

.section-separator-experimental hr {
  margin: 0;
}

.section-separator-about {
  padding-bottom: 1.5rem;
}

.custom-line {
  background-color: white;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin-top: 3rem;
}

/*Audiovisual Projects Section*/

.audiovisual-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.875rem;
}

.project-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video-content {
  width: 100%;
  margin-bottom: 1.5rem;
}

.video-content video {
  width: 100%;
}

.txt-img-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.txt-content {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 100%;
}

.paragraph {
  margin-bottom: .2rem;
}

.img-content-1 {
  grid-column: -3 / -1;
  width: 100%;
}

.img-content-1 img {
  width: 100%;
}

.img-content-2 {
  grid-column: 2 / 3;
  width: 100%;
}

.img-content-2 img {
  width: 100%;
}

.img-content-3 {
  grid-column: 3 / 4;
  width: 100%;
}

.img-content-3 img {
  width: 100%;
}

/*Programming Section*/

.programming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #383838;
  padding-bottom: 2.875rem;
}

.programming-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  padding: 0 1.875rem;
}

.work-1 {
  grid-column: 1 / 2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-code-1 {
  width: 100%;
}

.img-code-1 img {
  width: 100%
}

.txt-container {
  margin-top: 1.5rem;
}

.project-description {
  padding-right: 3rem;
}

.btn-container button {
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 30px;
  margin-right: 1rem;
}

.btn-container button:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
}

.btn-container button a {
  color: white;
  text-decoration: none;
}

.btn-container button:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
}

.btn-container button a:hover {
  color: var(--Yellow);
}

/*Experimental Section*/

.experimental-container {
  padding: 0 1.875rem;
}

/*About Section*/
.about-container {
  padding: 0 1.875rem;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

.grid-content ul {
  list-style: none;
  padding: 0;
}

.bio-content {
  grid-column: 1 / 2;
  grid-row: span 2;
  width: 100%;
  max-width: 287px;
  display: flex;
  flex-direction: column;
}

.bio-content p {
  margin: 0;
}

.name-about {
  font-size: var(--mlarge-font-size);
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}

.info-about {
  font-size: var(--small-font-size);
  margin-top: 1rem;
}

.icons-bar {
  margin-top: 1rem;
}

.icons-bar p {
  margin-bottom: 2px;
}

.icon-content {
  display: flex;
  gap: 8px
}

.icon-content a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon-content a:hover {
  transform: scale(1.2);
  color: var(--Yellow)
}

.certificates-content {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

}

.tools-content {
  grid-column: 3 / 4;
}

.workshops-content {
  grid-column: 4 / 5;
  grid-row: span 2;

}

.about-container h3 {
  font-size: var(--medium-font-size);
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.about-container li {
  font-size: var(--small-font-size);
  margin-bottom: 1.5rem;

}

/*Contact Section*/
.contact-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 1.875rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/video/contact_gif.gif);
}

.txt-contact {
  width: 100%;
  max-width: 17.625rem;
}

.txt-contact p {
  font-size: var(--mlarge-font-size);
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}

.form-contact {
  width: 100%;
  max-width: 50rem;
}

.form-contact-f {
  font-family: "Space Grotesk", serif;
  font-size: var(--small-font-size);
}

.form-contact-f input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0;
  padding: 5px;
  transition: border-color 0.3s, color 0.3s;
}

.form-contact-f input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.form-contact-f input.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid
}

.form-contact-f textarea.form-control {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s, color 0.3s;
}

.form-contact-f textarea.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.form-contact-f textarea.form-control:focus {
  box-shadow: none;
}

.form-contact-f button.btn {
  font-family: "Space Grotesk", serif;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.form-contact-f button.btn:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
  background-color: transparent;
}

/*Footer Section*/

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.875rem;
}

.footer-container p {
  font-size: var(--small-font-size);
}

.devs-container {
  display: flex;
  justify-content: space-between;
  gap: 2.375rem;
}


/*Media Query Mobile Design*/

@media screen and (max-width: 880px) {}