:root {
  /*Fonts Sizes*/
  --very-small-font-size: .75rem;
  --small-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --mlarge-font-size: 3rem;
  --large-font-size: 20.625rem;

  /*Fonts Weights*/
  --regular-weight: 300;
  --medium-weight: 500;

  /*Colors*/
  --Yellow: hsl(69, 100%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", serif;
  font-size: var(--medium-font-size);
  font-weight: var(--regular-weight);
  letter-spacing: -2%;
  line-height: 1.2;
  color: white;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 1rem 0;
  background-color: black;
}

/*Header*/
/*Nav*/
.nav-container {
  display: block;
}

.nav-container-mobile {
  display: none;
}

.nav-container a {
  font-family: "Space Grotesk", serif;
  color: white;
  font-size: var(--small-font-size);
  text-decoration: none;
  margin-right: 1rem;
}

.top-right nav a:last-child {
  margin-right: 0;
}

.bottom-right a:last-child {
  margin-right: 0;
}

.top-left {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1.5rem 1.875rem;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.5rem 1.875rem;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1.5rem 1.875rem;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem 1.875rem;
}

.nav-container a:hover {
  color: var(--Yellow);
  text-decoration: underline;
  font-weight: var(--medium-weight);
}

header {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 0 1.875rem;
}

.header-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.bio-container {
  display: flex;
  flex-direction: column;
  padding-left: 50%;
  padding-top: 5.9375rem;
}

.scroll-container p {
  font-size: var(--large-font-size);
  letter-spacing: -26.4px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}

.custom-line {
  width: 100%;
}

/*Main*/

/*Separatores*/

.section-separator {
  padding-bottom: 1.5rem;
}

.section-separator-programming {
  background-color: #383838;
  padding-bottom: 1.5rem;
}

.section-separator-programming hr {
  margin: 0;
}

.section-separator-experimental {
  padding-bottom: 1.5rem;
}

.section-separator-experimental hr {
  margin: 0;
}

.section-separator-about {
  padding-bottom: 1.5rem;
}

.custom-line {
  background-color: white;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin-top: 3rem;
}

main {
  font-weight: var(--regular-weight);
  font-size: var(--small-font-size);
}

.title-section {
  font-size: var(--small-font-size);
  font-weight: var(--regular-weight);
  margin-top: 3rem;
  padding: 0 1.875rem;
}

.title-project {
  font-size: var(--medium-font-size);
  font-weight: var(--regular-weight);
  margin-bottom: 1.5rem;
}

/*Audiovisual Projects Section*/

.audiovisual-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.875rem;
}

.project-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video-content {
  width: 100%;
  margin-bottom: 1.5rem;
}

.video-content video {
  width: 100%;
}

.txt-img-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.txt-content {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 100%;
}

.paragraph {
  margin-bottom: .2rem;
}

.img-content-1 {
  grid-column: -3 / -1;
  width: 100%;
}

.img-content-1 img {
  width: 100%;
}

.img-content-2 {
  grid-column: 2 / 3;
  width: 100%;
}

.img-content-2 img {
  width: 100%;
}

.img-content-3 {
  grid-column: 3 / 4;
  width: 100%;
}

.img-content-3 img {
  width: 100%;
}

/*Programming Section*/

.programming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #383838;
  padding-bottom: 2.875rem;
}

.programming-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  padding: 0 1.875rem;
}

.work-1 {
  grid-column: 1 / 2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-code-1 {
  width: 100%;
}

.img-code-1 img {
  width: 100%
}

.txt-container {
  margin-top: 1.5rem;
}

.project-description {
  padding-right: 3rem;
}

.link-container {
  display: flex;
  gap: 1rem;
}

.link-container a {
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  color: white;
  border-radius: 30px;
}

.link-container a:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
}

/*Experimental Section*/

.experimental-container {
  padding: 0 1.875rem;
}

/*About Section*/
.about-container {
  padding: 0 1.875rem;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

.grid-content ul {
  list-style: none;
  padding: 0;

}

.grid-content ul li {
  margin: 0;
}

.bio-content {
  grid-column: 1 / 2;
  grid-row: span 2;
  width: 100%;
  max-width: 287px;
  display: flex;
  flex-direction: column;
}

.bio-content p {
  margin: 0;
}

.name-about {
  font-size: var(--mlarge-font-size);
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}

.info-about {
  font-size: var(--small-font-size);
  margin-top: 1rem;
}

.icons-bar {
  margin-top: 1rem;
}

.icons-bar p {
  margin-bottom: 2px;
}

.icon-content {
  display: flex;
  gap: 8px
}

.icon-content a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon-content a:hover {
  transform: scale(1.2);
  color: var(--Yellow)
}

.tools-content {
  grid-column: 3 / 4;
}

.workshops-content {
  grid-column: 4 / 5;
  grid-row: span 2;

}

.about-container h3 {
  font-size: var(--small-font-size);
  margin-bottom: .5rem;
  text-decoration: underline;
}

.about-container li {
  font-size: var(--small-font-size);
  margin-bottom: 1.5rem;
}

.about-container a {
  text-decoration: none;
  color: white;
  font-size: var(--very-small-font-size);
}

.workshops-content p {
  margin: 0;
  margin-top: .25rem;
  font-size: var(--very-small-font-size);
}

.workshops-content ul {
  margin-bottom: 2rem;
}

.workshops-content ul li {
  margin-top: .5rem;
}

.diplo-container {
  margin-bottom: 1rem;
}

/*Contact Section*/
.contact-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 1.875rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/video/contact_gif.gif);
}

.txt-contact {
  width: 100%;
  max-width: 17.625rem;
}

.txt-contact p {
  font-size: var(--mlarge-font-size);
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}

.form-contact {
  width: 100%;
  max-width: 50rem;
}

.form-contact-f {
  font-family: "Space Grotesk", serif;
  font-size: var(--small-font-size);
}

.form-contact-f input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0;
  padding: 5px;
  transition: border-color 0.3s, color 0.3s;
}

.form-contact-f input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.form-contact-f input.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid
}

.form-contact-f textarea.form-control {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s, color 0.3s;
}

.form-contact-f textarea.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.form-contact-f textarea.form-control:focus {
  box-shadow: none;
}

.form-contact-f button.btn {
  font-family: "Space Grotesk", serif;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.form-contact-f button.btn:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
  background-color: transparent;
}

/*Footer Section*/

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.875rem;
}

.footer-container p {
  font-size: var(--small-font-size);
  opacity: 50%;
}

.devs-container {
  display: flex;
  justify-content: space-between;
  gap: 2.375rem;
}

@media screen and (max-width: 880px) {
  .scroll-container p {
    font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.25));
    letter-spacing: calc(-26.4px - (-26.4px * 0.25));
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .devs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .footer-container p {
    margin-bottom: .5rem;
  }

}

@media screen and (max-width: 768px) {
  .scroll-container p {
    font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.35));
    letter-spacing: calc(-26.4px - (-26.4px * 0.35));
  }

}

@media screen and (max-width: 640px) {

  /*Header*/

  /*Nav*/
  .nav-container {
    display: none;
  }

  .nav-container-mobile {
    display: block;

  }

  .navbar {
    padding: 1.2rem 1.875rem;
  }

  .navbar-brand {
    padding: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-toggler {
    border: none;
    transition: none;
    padding-right: 0;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-container-mobile a {
    font-family: "Space Grotesk", serif !important;
    color: white !important;
    font-size: var(--small-font-size) !important;
    text-decoration: none !important;
    margin-right: 1rem !important;
  }

  .nav-container-mobile a:hover {
    color: var(--Yellow) !important;
    text-decoration: underline !important;
    font-weight: var(--medium-weight) !important;
  }

  .offcanvas-header {
    background-color: black;
    padding: 1.5rem 1.875rem;
  }

  .offcanvas-header .btn-close {
    padding: 0;
    padding: 1.5rem 1.875rem;
    filter: invert(1);
  }

  .offcanvas-body {
    background-color: black;
    padding: 0 1.875rem;
  }

  .offcanvas-body ul {
    padding: 0;
  }

  .offcanvas-end {
    width: 80% !important;
  }


  /**/
  .bio-container {
    padding: 0;
    padding-top: 6rem;
  }

  .scroll-container p {
    font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.45));
    letter-spacing: calc(-26.4px - (-26.4px * 0.45));
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }


  /*Main*/

  /*Audiovisual Projects Section*/
  .txt-img-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .txt-content {
    grid-column: 1;
    grid-row: 1/ 2;
  }

  .img-content-1 {
    grid-column: 1;
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  .img-content-2 {
    grid-column: 1;
    grid-row: 3 / 4;
    margin-bottom: 0;
  }

  .img-content-3 {
    grid-column: 1;
    grid-row: 4 / 5;
    margin-bottom: 0;
  }

  /*Programming Section*/
  .programming-grid {
    grid-template-columns: 1fr;
  }

  /*About Section*/
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .bio-content {
    grid-column: 1 / 3;
    grid-row: 1/ 2;
    max-width: fit-content;
    margin-bottom: 1rem;
  }

  .txt-about {
    width: 100%;
    max-width: 345px;
  }

  .tools-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .certificates-content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .workshops-content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  /*Contact Section*/
  .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .txt-contact {
    width: 100%;
    max-width: 516px;
  }

  @media screen and (max-width: 540px) {
    .scroll-container p {
      font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.50));
      letter-spacing: calc(-26.4px - (-26.4px * 0.50));
    }
  }

  @media screen and (max-width: 480px) {

    .scroll-container p {
      font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.55));
      letter-spacing: calc(-26.4px - (-26.4px * 0.55));
    }
  }

  @media screen and (max-width: 438px) {

    .scroll-container p {
      font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.60));
      letter-spacing: calc(-26.4px - (-26.4px * 0.60));
    }
  }

  @media screen and (max-width: 400px) {

    .scroll-container p {
      font-size: calc(var(--large-font-size) - (var(--large-font-size) * 0.65));
      letter-spacing: calc(-26.4px - (-26.4px * 0.65));
    }

  }
}